.textarea {
  width: 100%;
  resize: none;
  font: inherit;
  padding: 0;
}

.shadow {
  width: 100%;
  resize: none;
  /**
    Overflow also needed to here to remove the extra row
    added to textareas in Firefox.
  */
  overflow: hidden;
  /* Visibility needed to hide the extra text area on ipads */
  visibility: hidden;
  font: inherit;
  padding: 0;
  position: absolute;
}
